<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- FORMULARIO PARA CREAR ALGORITMO -->
    <form action="/api/new/algorithm" method="POST" enctype="multipart/form-data">
      <input name="algorithm" type="text" />
      <input name="parameters" type="text" />
      <input name="makefile" type="file" />
      <input name="src" type="file" />
      <input type="submit" value="Done" />
    </form>
  </body>
</html>
